In [24]:
import pandas as pd
from helper_functions import get_master_df, save_df

In [7]:
df = get_master_df()

In [9]:
original_columns = df.columns

original_columns

Index(['Unnamed: 0', 'mp_team0', 'fg_team0', 'fga_team0', 'fg%_team0',
       '3p_team0', '3pa_team0', '3p%_team0', 'ft_team0', 'fta_team0',
       'ft%_team0', 'orb_team0', 'drb_team0', 'trb_team0', 'ast_team0',
       'stl_team0', 'blk_team0', 'tov_team0', 'pf_team0', 'pts_team0',
       '+/-_team0', 'mp_team0.1', 'ts%_team0', 'efg%_team0', '3par_team0',
       'ftr_team0', 'orb%_team0', 'drb%_team0', 'trb%_team0', 'ast%_team0',
       'stl%_team0', 'blk%_team0', 'tov%_team0', 'usg%_team0', 'ortg_team0',
       'drtg_team0', 'team0', 'mp_team1', 'fg_team1', 'fga_team1', 'fg%_team1',
       '3p_team1', '3pa_team1', '3p%_team1', 'ft_team1', 'fta_team1',
       'ft%_team1', 'orb_team1', 'drb_team1', 'trb_team1', 'ast_team1',
       'stl_team1', 'blk_team1', 'tov_team1', 'pf_team1', 'pts_team1',
       '+/-_team1', 'mp_team1.1', 'ts%_team1', 'efg%_team1', '3par_team1',
       'ftr_team1', 'orb%_team1', 'drb%_team1', 'trb%_team1', 'ast%_team1',
       'stl%_team1', 'blk%_team1', 'tov%_team1', 'usg%_team1', 'ortg_team1',
       'drtg_team1', 'team1', 'winner', 'season', 'date'],
      dtype='object')

In [10]:
team_encoding = { 
    # ATLANTIC
    "TOR": 1,
    "BOS": 2,
    "NYK": 3, 
    "BRK": 4,
    "PHI": 5,

    # CENTRAL
    "CLE": 6,
    "IND": 7,
    "DET": 8,
    "CHI": 9,
    "MIL": 10,

    # SOUTHEAST
    "MIA": 11,
    "ATL": 12,
    "CHO": 13,
    "WAS": 14,
    "ORL": 15,

    # NORTHWEST
    "OKC": 16,
    "POR": 17,
    "UTA": 18,
    "DEN": 19,
    "MIN": 20,

    # PACIFIC
    "GSW": 21, 
    "LAC": 22,
    "SAC": 23,
    "PHO": 24,
    "LAL": 25,

    # SOUTH WEST
    "SAS": 26,
    "DAL": 27,
    "MEM": 28,
    "HOU": 29,
    "NOP": 30
}

In [11]:
unique_stats = [col.split("_")[0] + "_cumulative" for col in df.columns if "_team0" in col]
stats = [col.split("_")[0] for col in df.columns if "_team0" in col]
teams = team_encoding.keys()

In [12]:
def initialize_cumulative_average():
    cumulative_averages = {}
    for team in teams:
        team_cumulative_average = {}
        for stat in unique_stats:
            team_cumulative_average[stat] = 0
        cumulative_averages[team] = team_cumulative_average
        cumulative_averages[team]["games_played"] = 0
    
    return cumulative_averages

In [13]:
for stat in unique_stats:
    df[f'{stat}_team0'] = 0.0
    df[f'{stat}_team1'] = 0.0

In [18]:
cumulative_averages = initialize_cumulative_average()
current_season = None
    
for index, row in df.iterrows():
    team0 = row['team0']
    team1 = row['team1']
    game_season = row['season']

    if game_season != current_season:
        cumulative_averages = initialize_cumulative_average()
        current_season = game_season

    games_played_team0 = cumulative_averages[team0]["games_played"]
    games_played_team1 = cumulative_averages[team1]["games_played"]

    if games_played_team0 > 0:
        for stat in unique_stats:
            prev_avg_team0 = cumulative_averages[team0][stat] / games_played_team0
            df.at[index, f"{stat}_team0"] = prev_avg_team0
    
    if games_played_team1 > 0:
        for stat in unique_stats:
            prev_avg_team1 = cumulative_averages[team1][stat] / games_played_team1
            df.at[index, f"{stat}_team1"] = prev_avg_team1
    
    for stat in stats:
        cumulative_averages[team0][f"{stat}_cumulative"] += row[f"{stat}_team0"]
        cumulative_averages[team1][f"{stat}_cumulative"] += row[f"{stat}_team1"]

    cumulative_averages[team0]['games_played'] += 1
    cumulative_averages[team1]['games_played'] += 1

    if index % 100 == 0:
         print(f"{index} / {len(df)}")

0 / 9395
100 / 9395
200 / 9395
300 / 9395
400 / 9395
500 / 9395
600 / 9395
700 / 9395
800 / 9395
900 / 9395
1000 / 9395
1100 / 9395
1200 / 9395
1300 / 9395
1400 / 9395
1500 / 9395
1600 / 9395
1700 / 9395
1800 / 9395
1900 / 9395
2000 / 9395
2100 / 9395
2200 / 9395
2300 / 9395
2400 / 9395
2500 / 9395
2600 / 9395
2700 / 9395
2800 / 9395
2900 / 9395
3000 / 9395
3100 / 9395
3200 / 9395
3300 / 9395
3400 / 9395
3500 / 9395
3600 / 9395
3700 / 9395
3800 / 9395
3900 / 9395
4000 / 9395
4100 / 9395
4200 / 9395
4300 / 9395
4400 / 9395
4500 / 9395
4600 / 9395
4700 / 9395
4800 / 9395
4900 / 9395
5000 / 9395
5100 / 9395
5200 / 9395
5300 / 9395
5400 / 9395
5500 / 9395
5600 / 9395
5700 / 9395
5800 / 9395
5900 / 9395
6000 / 9395
6100 / 9395
6200 / 9395
6300 / 9395
6400 / 9395
6500 / 9395
6600 / 9395
6700 / 9395
6800 / 9395
6900 / 9395
7000 / 9395
7100 / 9395
7200 / 9395
7300 / 9395
7400 / 9395
7500 / 9395
7600 / 9395
7700 / 9395
7800 / 9395
7900 / 9395
8000 / 9395
8100 / 9395
8200 / 9395
8300 / 9395
8400 / 9395
8500 / 9395
8600 / 9395
8700 / 9395
8800 / 9395
8900 / 9395
9000 / 9395
9100 / 9395
9200 / 9395
9300 / 9395

In [20]:
if "Unnamed: 0" in df.columns:
    df.drop("Unnamed: 0", axis=1, inplace=True)

In [21]:
df

,mp_team0,fg_team0,fga_team0,fg%_team0,3p_team0,3pa_team0,3p%_team0,ft_team0,fta_team0,ft%_team0,...,blk%_cumulative_team0,blk%_cumulative_team1,tov%_cumulative_team0,tov%_cumulative_team1,usg%_cumulative_team0,usg%_cumulative_team1,ortg_cumulative_team0,ortg_cumulative_team1,drtg_cumulative_team0,drtg_cumulative_team1
0,240.0,47.0,97.0,0.485,15.0,41.0,0.366,13.0,19.0,0.684,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,240.0,36.0,88.0,0.409,8.0,32.0,0.250,19.0,25.0,0.760,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,240.0,33.0,83.0,0.398,12.0,45.0,0.267,27.0,29.0,0.931,...,10.0,0.0,10.2,0.0,100.0,0.0,119.6,0.0,118.6,0.0
3,240.0,29.0,73.0,0.397,9.0,30.0,0.300,23.0,29.0,0.793,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,240.0,48.0,94.0,0.511,9.0,18.0,0.500,12.0,15.0,0.800,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9390,240.0,40.0,94.0,0.426,17.0,45.0,0.378,16.0,25.0,0.640,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9391,265.0,38.0,91.0,0.418,11.0,35.0,0.314,27.0,34.0,0.794,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9392,240.0,32.0,89.0,0.360,9.0,43.0,0.209,18.0,21.0,0.857,...,0.0,7.1,0.0,13.8,0.0,100.0,0.0,100.2,0.0,104.6
9393,240.0,43.0,87.0,0.494,10.0,27.0,0.370,21.0,27.0,0.778,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9394,240.0,42.0,82.0,0.512,12.0,27.0,0.444,12.0,19.0,0.632,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
exceptions = ['team1', 'winner', 'season', 'date', 'team0']

cols_to_keep = [col for col in df.columns if "cumulative" in col or col in exceptions]

df_filtered = df[cols_to_keep]

In [25]:
save_df(df_filtered, "cumulative_averages.csv")
save_df(df, "cumulative_averages_with_reg_cols.csv")

In [26]:
df_filtered

,team0,team1,winner,season,date,mp_cumulative_team0,mp_cumulative_team1,fg_cumulative_team0,fg_cumulative_team1,fga_cumulative_team0,...,blk%_cumulative_team0,blk%_cumulative_team1,tov%_cumulative_team0,tov%_cumulative_team1,usg%_cumulative_team0,usg%_cumulative_team1,ortg_cumulative_team0,ortg_cumulative_team1,drtg_cumulative_team0,drtg_cumulative_team1
0,HOU,GSW,HOU,2018,2017-10-17,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,BOS,CLE,CLE,2018,2017-10-17,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,HOU,SAC,HOU,2018,2017-10-18,480.0,0.0,47.0,0.0,97.0,...,10.0,0.0,10.2,0.0,100.0,0.0,119.6,0.0,118.6,0.0
3,CHO,DET,DET,2018,2017-10-18,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ATL,DAL,ATL,2018,2017-10-18,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9390,PHI,MIA,MIA,2024,2023-12-25 00:00:00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9391,GSW,MIN,MIN,2023,2023-02-01 00:00:00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9392,LAC,GSW,GSW,2023,2023-03-02 00:00:00,0.0,530.0,0.0,38.0,0.0,...,0.0,7.1,0.0,13.8,0.0,100.0,0.0,100.2,0.0,104.6
9393,MIN,SAS,MIN,2024,2023-11-10 00:00:00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9394,CHI,TOR,TOR,2024,2023-11-24 00:00:00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0