In [27]:
import pandas as pd
from helper_functions import get_master_df, save_df

In [28]:
df = get_master_df()

In [29]:
df

,Unnamed: 0,mp_team0,fg_team0,fga_team0,fg%_team0,3p_team0,3pa_team0,3p%_team0,ft_team0,fta_team0,...,tov%_team1,usg%_team1,ortg_team1,drtg_team1,team1,winner,season,date,team0_encoded,team1_encoded
0,0,240.0,47.0,97.0,0.485,15.0,41.0,0.366,13.0,19.0,...,16.0,100.0,118.6,119.6,GSW,HOU,2018,2017-10-17,29,21
1,1,240.0,36.0,88.0,0.409,8.0,32.0,0.250,19.0,25.0,...,15.3,100.0,102.7,99.7,CLE,CLE,2018,2017-10-17,2,6
2,2,240.0,33.0,83.0,0.398,12.0,45.0,0.267,27.0,29.0,...,15.5,100.0,103.9,109.1,SAC,HOU,2018,2017-10-18,29,23
3,3,240.0,29.0,73.0,0.397,9.0,30.0,0.300,23.0,29.0,...,7.3,100.0,103.6,91.4,DET,DET,2018,2017-10-18,13,8
4,4,240.0,48.0,94.0,0.511,9.0,18.0,0.500,12.0,15.0,...,13.6,100.0,112.6,118.7,DAL,ATL,2018,2017-10-18,12,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,8463,240.0,48.0,93.0,0.516,12.0,40.0,0.300,15.0,18.0,...,19.3,100.0,94.4,130.5,TOR,SAC,2024,2024-03-20,23,1
8464,8464,240.0,40.0,90.0,0.444,10.0,36.0,0.278,17.0,18.0,...,9.0,100.0,119.9,107.8,OKC,OKC,2024,2024-03-20,18,16
8465,8465,240.0,50.0,88.0,0.568,11.0,29.0,0.379,11.0,18.0,...,12.7,100.0,100.7,119.3,DET,IND,2024,2024-03-20,7,8
8466,8466,240.0,41.0,95.0,0.432,13.0,37.0,0.351,7.0,18.0,...,19.7,100.0,116.7,103.5,PHO,PHO,2024,2024-03-20,5,24
8467,8467,240.0,45.0,86.0,0.523,13.0,31.0,0.419,13.0,15.0,...,16.3,100.0,108.9,122.6,POR,LAC,2024,2024-03-20,22,17

In [30]:
original_columns = df.columns

original_columns

Index(['Unnamed: 0', 'mp_team0', 'fg_team0', 'fga_team0', 'fg%_team0',
       '3p_team0', '3pa_team0', '3p%_team0', 'ft_team0', 'fta_team0',
       'ft%_team0', 'orb_team0', 'drb_team0', 'trb_team0', 'ast_team0',
       'stl_team0', 'blk_team0', 'tov_team0', 'pf_team0', 'pts_team0',
       'ts%_team0', 'efg%_team0', '3par_team0', 'ftr_team0', 'orb%_team0',
       'drb%_team0', 'trb%_team0', 'ast%_team0', 'stl%_team0', 'blk%_team0',
       'tov%_team0', 'usg%_team0', 'ortg_team0', 'drtg_team0', 'team0',
       'mp_team1', 'fg_team1', 'fga_team1', 'fg%_team1', '3p_team1',
       '3pa_team1', '3p%_team1', 'ft_team1', 'fta_team1', 'ft%_team1',
       'orb_team1', 'drb_team1', 'trb_team1', 'ast_team1', 'stl_team1',
       'blk_team1', 'tov_team1', 'pf_team1', 'pts_team1', 'ts%_team1',
       'efg%_team1', '3par_team1', 'ftr_team1', 'orb%_team1', 'drb%_team1',
       'trb%_team1', 'ast%_team1', 'stl%_team1', 'blk%_team1', 'tov%_team1',
       'usg%_team1', 'ortg_team1', 'drtg_team1', 'team1', 'winner', 'season',
       'date', 'team0_encoded', 'team1_encoded'],
      dtype='object')

In [31]:
team_encoding = { 
    # ATLANTIC
    "TOR": 1,
    "BOS": 2,
    "NYK": 3, 
    "BRK": 4,
    "PHI": 5,

    # CENTRAL
    "CLE": 6,
    "IND": 7,
    "DET": 8,
    "CHI": 9,
    "MIL": 10,

    # SOUTHEAST
    "MIA": 11,
    "ATL": 12,
    "CHO": 13,
    "WAS": 14,
    "ORL": 15,

    # NORTHWEST
    "OKC": 16,
    "POR": 17,
    "UTA": 18,
    "DEN": 19,
    "MIN": 20,

    # PACIFIC
    "GSW": 21, 
    "LAC": 22,
    "SAC": 23,
    "PHO": 24,
    "LAL": 25,

    # SOUTH WEST
    "SAS": 26,
    "DAL": 27,
    "MEM": 28,
    "HOU": 29,
    "NOP": 30
}

In [32]:
unique_stats = [col.split("_")[0] + "_cumulative" for col in df.columns if "_team0" in col]
stats = [col.split("_")[0] for col in df.columns if "_team0" in col]
teams = team_encoding.keys()

In [33]:
def initialize_cumulative_average():
    cumulative_averages = {}
    for team in teams:
        team_cumulative_average = {}
        for stat in unique_stats:
            team_cumulative_average[stat] = 0
        cumulative_averages[team] = team_cumulative_average
        cumulative_averages[team]["games_played"] = 0
    
    return cumulative_averages

In [34]:
for stat in unique_stats:
    df[f'{stat}_team0'] = 0.0
    df[f'{stat}_team1'] = 0.0

In [41]:
cumulative_averages = initialize_cumulative_average()
current_season = None

first_game_indices = set()
    
for index, row in df.iterrows():
    team0 = row['team0']
    team1 = row['team1']
    game_season = row['season']

    if game_season != current_season:
        cumulative_averages = initialize_cumulative_average()
        current_season = game_season

    games_played_team0 = cumulative_averages[team0]["games_played"]
    games_played_team1 = cumulative_averages[team1]["games_played"]

    if games_played_team0 == 0:
        first_game_indices.add(index)
    
    if games_played_team1 == 0:
        first_game_indices.add(index)

    if games_played_team0 > 0:
        for stat in unique_stats:
            prev_avg_team0 = cumulative_averages[team0][stat] / games_played_team0
            df.at[index, f"{stat}_team0"] = prev_avg_team0
    
    if games_played_team1 > 0:
        for stat in unique_stats:
            prev_avg_team1 = cumulative_averages[team1][stat] / games_played_team1
            df.at[index, f"{stat}_team1"] = prev_avg_team1
    
    for stat in stats:
        cumulative_averages[team0][f"{stat}_cumulative"] += row[f"{stat}_team0"]
        cumulative_averages[team1][f"{stat}_cumulative"] += row[f"{stat}_team1"]

    cumulative_averages[team0]['games_played'] += 1
    cumulative_averages[team1]['games_played'] += 1

    if index % 100 == 0:
         print(f"{index} / {len(df)}")

0 / 8468
100 / 8468
200 / 8468
300 / 8468
400 / 8468
500 / 8468
600 / 8468
700 / 8468
800 / 8468
900 / 8468
1000 / 8468
1100 / 8468
1200 / 8468
1300 / 8468
1400 / 8468
1500 / 8468
1600 / 8468
1700 / 8468
1800 / 8468
1900 / 8468
2000 / 8468
2100 / 8468
2200 / 8468
2300 / 8468
2400 / 8468
2500 / 8468
2600 / 8468
2700 / 8468
2800 / 8468
2900 / 8468
3000 / 8468
3100 / 8468
3200 / 8468
3300 / 8468
3400 / 8468
3500 / 8468
3600 / 8468
3700 / 8468
3800 / 8468
3900 / 8468
4000 / 8468
4100 / 8468
4200 / 8468
4300 / 8468
4400 / 8468
4500 / 8468
4600 / 8468
4700 / 8468
4800 / 8468
4900 / 8468
5000 / 8468
5100 / 8468
5200 / 8468
5300 / 8468
5400 / 8468
5500 / 8468
5600 / 8468
5700 / 8468
5800 / 8468
5900 / 8468
6000 / 8468
6100 / 8468
6200 / 8468
6300 / 8468
6400 / 8468
6500 / 8468
6600 / 8468
6700 / 8468
6800 / 8468
6900 / 8468
7000 / 8468
7100 / 8468
7200 / 8468
7300 / 8468
7400 / 8468
7500 / 8468
7600 / 8468
7700 / 8468
7800 / 8468
7900 / 8468
8000 / 8468
8100 / 8468
8200 / 8468
8300 / 8468
8400 / 8468

In [47]:
first_game_indices

df = df.drop(first_game_indices)

In [36]:
if "Unnamed: 0" in df.columns:
    df.drop("Unnamed: 0", axis=1, inplace=True)

In [48]:
df

,mp_team0,fg_team0,fga_team0,fg%_team0,3p_team0,3pa_team0,3p%_team0,ft_team0,fta_team0,ft%_team0,...,blk%_cumulative_team0,blk%_cumulative_team1,tov%_cumulative_team0,tov%_cumulative_team1,usg%_cumulative_team0,usg%_cumulative_team1,ortg_cumulative_team0,ortg_cumulative_team1,drtg_cumulative_team0,drtg_cumulative_team1
16,240.0,37.0,87.0,0.425,10.0,23.0,0.435,9.0,13.0,0.692,...,10.500000,5.300000,15.500000,13.600000,100.0,100.0,103.900000,112.600000,109.100000,118.700000
17,240.0,46.0,95.0,0.484,9.0,19.0,0.474,13.0,17.0,0.765,...,11.300000,14.100000,13.500000,10.800000,100.0,100.0,125.600000,123.600000,77.000000,115.700000
18,240.0,45.0,89.0,0.506,18.0,33.0,0.545,13.0,15.0,0.867,...,12.700000,2.900000,12.000000,15.600000,100.0,100.0,110.300000,115.700000,103.600000,123.600000
19,240.0,35.0,84.0,0.417,10.0,29.0,0.345,22.0,32.0,0.688,...,5.100000,8.000000,9.950000,14.400000,100.0,100.0,100.950000,110.300000,106.550000,115.100000
20,240.0,43.0,87.0,0.494,10.0,23.0,0.435,15.0,20.0,0.750,...,7.000000,17.200000,7.300000,7.300000,100.0,100.0,103.600000,115.100000,91.400000,110.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,240.0,48.0,93.0,0.516,12.0,40.0,0.300,15.0,18.0,0.833,...,7.513433,8.872059,11.229851,11.426471,100.0,100.0,118.074627,114.436765,117.222388,118.819118
8464,240.0,40.0,90.0,0.444,10.0,36.0,0.278,17.0,18.0,0.944,...,10.625000,12.915152,12.877941,10.440909,100.0,100.0,117.452941,121.086364,120.983824,113.606061
8465,240.0,50.0,88.0,0.568,11.0,29.0,0.379,11.0,18.0,0.611,...,9.545588,8.539706,10.958824,13.114706,100.0,100.0,120.725000,111.780882,119.098529,120.054412
8466,240.0,41.0,95.0,0.432,13.0,37.0,0.351,7.0,18.0,0.389,...,10.872059,10.926471,10.083824,12.583824,100.0,100.0,117.983824,118.973529,115.505882,116.622059
8467,240.0,45.0,86.0,0.523,13.0,31.0,0.419,13.0,15.0,0.867,...,9.485075,8.408955,11.274627,12.708955,100.0,100.0,120.468657,110.244776,116.623881,118.516418

In [49]:
exceptions = ['team1', 'winner', 'season', 'date', 'team0', 'team0_encoded', 'team1_encoded']

cols_to_keep = [col for col in df.columns if "cumulative" in col or col in exceptions]

df_filtered = df[cols_to_keep]

In [62]:
df['team1_winner'] = df.apply(lambda row: 1 if row['winner'] == row['team1'] else 0, axis=1)
df_filtered['team1_winner'] = df_filtered.apply(lambda row: 1 if row['winner'] == row['team1'] else 0, axis=1)

/var/folders/rd/xg_1cl914sb4d864cq60_8zr0000gn/T/ipykernel_47049/584802485.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['team1_winner'] = df_filtered.apply(lambda row: 1 if row['winner'] == row['team1'] else 0, axis=1)

In [74]:
df_filtered.reset_index(drop=True, inplace=True)

In [75]:
df_filtered

,team0,team1,winner,season,date,team0_encoded,team1_encoded,mp_cumulative_team0,mp_cumulative_team1,fg_cumulative_team0,...,blk%_cumulative_team1,tov%_cumulative_team0,tov%_cumulative_team1,usg%_cumulative_team0,usg%_cumulative_team1,ortg_cumulative_team0,ortg_cumulative_team1,drtg_cumulative_team0,drtg_cumulative_team1,team1_winner
0,SAC,DAL,SAC,2018,2017-10-20,23,27,240.000000,240.000000,42.000000,...,5.300000,15.500000,13.600000,100.0,100.0,103.900000,112.600000,109.100000,118.700000,0
1,POR,IND,POR,2018,2017-10-20,17,7,240.000000,240.000000,44.000000,...,14.100000,13.500000,10.800000,100.0,100.0,125.600000,123.600000,77.000000,115.700000,0
2,ORL,BRK,BRK,2018,2017-10-20,15,4,240.000000,240.000000,43.000000,...,2.900000,12.000000,15.600000,100.0,100.0,110.300000,115.700000,103.600000,123.600000,1
3,BOS,PHI,BOS,2018,2017-10-20,2,5,240.000000,240.000000,37.500000,...,8.000000,9.950000,14.400000,100.0,100.0,100.950000,110.300000,106.550000,115.100000,0
4,DET,WAS,WAS,2018,2017-10-20,8,14,240.000000,240.000000,41.000000,...,17.200000,7.300000,7.300000,100.0,100.0,103.600000,115.100000,91.400000,110.300000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8350,SAC,TOR,SAC,2024,2024-03-20,23,1,242.611940,241.838235,44.044776,...,8.872059,11.229851,11.426471,100.0,100.0,118.074627,114.436765,117.222388,118.819118,0
8351,UTA,OKC,OKC,2024,2024-03-20,18,16,241.838235,241.515152,42.588235,...,12.915152,12.877941,10.440909,100.0,100.0,117.452941,121.086364,120.983824,113.606061,1
8352,IND,DET,IND,2024,2024-03-20,7,8,240.367647,241.102941,46.382353,...,8.539706,10.958824,13.114706,100.0,100.0,120.725000,111.780882,119.098529,120.054412,0
8353,PHI,PHO,PHO,2024,2024-03-20,5,24,240.735294,241.470588,41.455882,...,10.926471,10.083824,12.583824,100.0,100.0,117.983824,118.973529,115.505882,116.622059,1
8354,LAC,POR,LAC,2024,2024-03-20,22,17,240.373134,242.985075,42.507463,...,8.408955,11.274627,12.708955,100.0,100.0,120.468657,110.244776,116.623881,118.516418,0

In [76]:
save_df(df_filtered, "cumulative_averages.csv")