In [57]:
import pandas as pd
import numpy as np
from helper_functions import get_master_df, save_df, drop_extraneous_col
from collections import defaultdict

In [58]:
# df = get_master_df()

df = pd.read_csv("csvs/master_df.csv", parse_dates=['date'])
drop_extraneous_col(df)

In [59]:
team_encoding = { 
    # ATLANTIC
    "TOR": 1,
    "BOS": 2,
    "NYK": 3, 
    "BRK": 4,
    "PHI": 5,

    # CENTRAL
    "CLE": 6,
    "IND": 7,
    "DET": 8,
    "CHI": 9,
    "MIL": 10,

    # SOUTHEAST
    "MIA": 11,
    "ATL": 12,
    "CHO": 13,
    "WAS": 14,
    "ORL": 15,

    # NORTHWEST
    "OKC": 16,
    "POR": 17,
    "UTA": 18,
    "DEN": 19,
    "MIN": 20,

    # PACIFIC
    "GSW": 21, 
    "LAC": 22,
    "SAC": 23,
    "PHO": 24,
    "LAL": 25,

    # SOUTH WEST
    "SAS": 26,
    "DAL": 27,
    "MEM": 28,
    "HOU": 29,
    "NOP": 30
}

In [60]:
teams = team_encoding.keys()
last_game_date = {}

df['rest_days_team0'] = np.NaN
df['rest_days_team1'] = np.NaN

In [61]:
df.date.dtype

dtype('O')

In [55]:
for index, row in df.iterrows():
    team0, team1, game_date, season = row['team0'], row['team1'], row['date'], row['season']

    print(type(row['date']))
    
    # Define a unique key for each team and season
    team0_key = f"{team0}_{season}"
    team1_key = f"{team1}_{season}"
    
    # Calculate rest days for team0
    if team0_key in last_game_date:
        rest_days_team0 = (game_date - pd.to_datetime(last_game_date[team0_key])).days - 1
    else:
        rest_days_team0 = 0
    df.at[index, 'rest_days_team0'] = rest_days_team0
    
    # Calculate rest days for team1
    if team1_key in last_game_date:
        rest_days_team1 = (game_date - pd.to_datetime(last_game_date[team1_key])).days - 1
    else:
        rest_days_team1 = 0
    df.at[index, 'rest_days_team1'] = rest_days_team1
    
    # Update the last game date for both teams, considering the season
    last_game_date[team0_key] = game_date
    last_game_date[team1_key] = game_date

# If you prefer to replace None values with 0 or another placeholder:
df['rest_days_team0'] = df['rest_days_team0'].fillna(0)
df['rest_days_team1'] = df['rest_days_team1'].fillna(0)

<class 'str'>

TypeError: unsupported operand type(s) for -: 'str' and 'Timestamp'

In [47]:
df

,mp_team0,fg_team0,fga_team0,fg%_team0,3p_team0,3pa_team0,3p%_team0,ft_team0,fta_team0,ft%_team0,...,ft/fga_team1,team1,winner,season,date,team0_encoded,team1_encoded,rest_days,rest_days_team0,rest_days_team1
0,240.0,36.0,88.0,0.409,8.0,32.0,0.250,19.0,25.0,0.760,...,0.253,CLE,CLE,2018,2017-10-17,2,6,NaN,-1.0,-1.0
1,240.0,47.0,97.0,0.485,15.0,41.0,0.366,13.0,19.0,0.684,...,0.238,GSW,HOU,2018,2017-10-17,29,21,NaN,-1.0,-1.0
2,240.0,30.0,79.0,0.380,7.0,25.0,0.280,24.0,29.0,0.828,...,0.174,MEM,MEM,2018,2017-10-18,30,28,NaN,-1.0,-1.0
3,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,0.739,...,0.191,SAS,SAS,2018,2017-10-18,20,26,NaN,-1.0,-1.0
4,240.0,38.0,76.0,0.500,7.0,21.0,0.333,25.0,30.0,0.833,...,0.121,BOS,MIL,2018,2017-10-18,10,2,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,240.0,45.0,84.0,0.536,17.0,35.0,0.486,12.0,14.0,0.857,...,0.282,BOS,BOS,2024,2024-03-20,10,2,NaN,2.0,1.0
8464,240.0,41.0,95.0,0.432,13.0,37.0,0.351,7.0,18.0,0.389,...,0.067,PHO,PHO,2024,2024-03-20,5,24,NaN,1.0,2.0
8465,240.0,38.0,83.0,0.458,13.0,36.0,0.361,18.0,19.0,0.947,...,0.253,CLE,MIA,2024,2024-03-20,11,6,NaN,1.0,1.0
8466,240.0,45.0,86.0,0.523,13.0,31.0,0.419,13.0,15.0,0.867,...,0.123,POR,LAC,2024,2024-03-20,22,17,NaN,2.0,1.0
8467,240.0,42.0,96.0,0.438,18.0,49.0,0.367,14.0,18.0,0.778,...,0.020,GSW,GSW,2024,2024-03-20,28,21,NaN,1.0,1.0